body{
    font-size:larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 237, 167);
}

.cliente{
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 220px;
    height: 300px;
    text-align: center;
}

.pizza{
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    max-width: 250px;
}

button{
    margin: auto;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: 50px;
    font-size: 20px;
}